*{
  box-sizing: content-box;
  border-width: 0;
  margin: 0;
  padding: 0;
}
span {
  display: block;
  float:left; 
  background: red;
  width: 80px;
  height: 80px;
}
main {
  border: 1px solid black;
  margin: 50px auto;
  width: 640px;
  height: 640px;
  transform: perspective( 1200px ) rotateX( 50deg );  
}
span.placeholder {
  display: none;
}
span:nth-child(odd) {
    background: white;
}
span:nth-child(even) {
    background: black;
}