
div {
  box-sizing: border-box;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  float: left;

  
}
main {
  width: 644px;
  height: 644px;
  box-sizing: border-box;
  display: inline-block;
  transform: perspective( 1200px ) rotateX( 50deg );
  
}
div.placeholder {
  display: none;
}
div:nth-child(odd) {
    background: white;
}

div:nth-child(even) {
    background: black;
}